[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group ashelestov-test
	owner = group user/ashelestov-ua
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group ashelestov-test
	label-Code-Review = -2..+2 group user/ashelestov-ua
	label-Verified = -1..+1 group ashelestov-test
	label-Verified = -1..+1 group user/ashelestov-ua
	push = group ashelestov-test
	push = group user/ashelestov-ua
	read = group ashelestov-test
	read = group user/ashelestov-ua
	rebase = group ashelestov-test
	rebase = group user/ashelestov-ua
	removeReviewer = group ashelestov-test
	removeReviewer = group user/ashelestov-ua
	submit = group ashelestov-test
	submit = group user/ashelestov-ua
[access "refs/heads/*"]
	create = group ashelestov-test
	create = group user/ashelestov-ua
	push = group ashelestov-test
	push = +force group user/ashelestov-ua
	pushMerge = group ashelestov-test
	pushMerge = group user/ashelestov-ua
	read = group ashelestov-test
	read = group user/ashelestov-ua
[access "refs/tags/*"]
	push = group ashelestov-test
	push = group user/ashelestov-ua
	push = +force group user/ashelestov-ua
